{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://api.fantasydata.net/nascar/v2"
        },
        {
            "url": "https://api.fantasydata.net/nascar/v2"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "nfldata"
        },
        "title": "NASCAR v2",
        "version": "1.0",
        "x-apisguru-categories": [
            "entertainment"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://fantasydata.com/downloads/swagger/nascar-v2.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "fantasydata.net",
        "x-serviceName": "nascar-v2"
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [],
    "paths": {
        "/{format}/DriverRaceProjections/{raceid}": {
            "get": {
                "operationId": "DriverRaceProjectionsEntryList",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "Unique FantasyData Race ID.\nExample:<code>1</code>, <code>2</code>, etc.",
                        "in": "path",
                        "name": "raceid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Bonus": {
                                                "type": "number"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "DraftKingsSalary": {
                                                "type": "integer"
                                            },
                                            "DriverID": {
                                                "type": "integer"
                                            },
                                            "FantasyPoints": {
                                                "type": "number"
                                            },
                                            "FantasyPointsDraftKings": {
                                                "type": "number"
                                            },
                                            "FastestLaps": {
                                                "type": "number"
                                            },
                                            "FinalPosition": {
                                                "type": "number"
                                            },
                                            "Laps": {
                                                "type": "number"
                                            },
                                            "LapsLed": {
                                                "type": "number"
                                            },
                                            "Manufacturer": {
                                                "type": "string"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Number": {
                                                "type": "integer"
                                            },
                                            "Penalty": {
                                                "type": "number"
                                            },
                                            "Points": {
                                                "type": "number"
                                            },
                                            "PoleFinalPosition": {
                                                "type": "number"
                                            },
                                            "Poles": {
                                                "type": "number"
                                            },
                                            "PositionDifferential": {
                                                "type": "number"
                                            },
                                            "QualifyingSpeed": {
                                                "type": "number"
                                            },
                                            "RaceID": {
                                                "type": "integer"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "StartPosition": {
                                                "type": "number"
                                            },
                                            "StatID": {
                                                "type": "integer"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Wins": {
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Driver Race Projections (Entry List)"
            }
        },
        "/{format}/driver/{driverid}": {
            "get": {
                "operationId": "DriverDetails",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "Unique FantasyData Driver ID.\nExample:<code>80000268</code>.",
                        "in": "path",
                        "name": "driverid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BirthDate": {
                                            "type": "string"
                                        },
                                        "BirthPlace": {
                                            "type": "string"
                                        },
                                        "Chassis": {
                                            "type": "string"
                                        },
                                        "Created": {
                                            "type": "string"
                                        },
                                        "CrewChief": {
                                            "type": "string"
                                        },
                                        "DriverID": {
                                            "type": "integer"
                                        },
                                        "Engine": {
                                            "type": "string"
                                        },
                                        "FirstName": {
                                            "type": "string"
                                        },
                                        "Gender": {
                                            "type": "string"
                                        },
                                        "Height": {
                                            "type": "integer"
                                        },
                                        "LastName": {
                                            "type": "string"
                                        },
                                        "Manufacturer": {
                                            "type": "string"
                                        },
                                        "Number": {
                                            "type": "integer"
                                        },
                                        "PhotoUrl": {
                                            "type": "string"
                                        },
                                        "Sponsors": {
                                            "type": "string"
                                        },
                                        "Team": {
                                            "type": "string"
                                        },
                                        "Updated": {
                                            "type": "string"
                                        },
                                        "Weight": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Driver Details"
            }
        },
        "/{format}/drivers": {
            "get": {
                "operationId": "Drivers",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "BirthDate": {
                                                "type": "string"
                                            },
                                            "BirthPlace": {
                                                "type": "string"
                                            },
                                            "Chassis": {
                                                "type": "string"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "CrewChief": {
                                                "type": "string"
                                            },
                                            "DriverID": {
                                                "type": "integer"
                                            },
                                            "Engine": {
                                                "type": "string"
                                            },
                                            "FirstName": {
                                                "type": "string"
                                            },
                                            "Gender": {
                                                "type": "string"
                                            },
                                            "Height": {
                                                "type": "integer"
                                            },
                                            "LastName": {
                                                "type": "string"
                                            },
                                            "Manufacturer": {
                                                "type": "string"
                                            },
                                            "Number": {
                                                "type": "integer"
                                            },
                                            "PhotoUrl": {
                                                "type": "string"
                                            },
                                            "Sponsors": {
                                                "type": "string"
                                            },
                                            "Team": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Weight": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Drivers"
            }
        },
        "/{format}/raceresult/{raceid}": {
            "get": {
                "operationId": "RaceResults",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "Unique FantasyData Race ID.\nExample:<code>1</code>, <code>2</code>, etc.",
                        "in": "path",
                        "name": "raceid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DriverRaces": {
                                            "items": {
                                                "properties": {
                                                    "Bonus": {
                                                        "type": "number"
                                                    },
                                                    "Created": {
                                                        "type": "string"
                                                    },
                                                    "DateTime": {
                                                        "type": "string"
                                                    },
                                                    "Day": {
                                                        "type": "string"
                                                    },
                                                    "DraftKingsSalary": {
                                                        "type": "integer"
                                                    },
                                                    "DriverID": {
                                                        "type": "integer"
                                                    },
                                                    "FantasyPoints": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsDraftKings": {
                                                        "type": "number"
                                                    },
                                                    "FastestLaps": {
                                                        "type": "number"
                                                    },
                                                    "FinalPosition": {
                                                        "type": "number"
                                                    },
                                                    "Laps": {
                                                        "type": "number"
                                                    },
                                                    "LapsLed": {
                                                        "type": "number"
                                                    },
                                                    "Manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Number": {
                                                        "type": "integer"
                                                    },
                                                    "Penalty": {
                                                        "type": "number"
                                                    },
                                                    "Points": {
                                                        "type": "number"
                                                    },
                                                    "PoleFinalPosition": {
                                                        "type": "number"
                                                    },
                                                    "Poles": {
                                                        "type": "number"
                                                    },
                                                    "PositionDifferential": {
                                                        "type": "number"
                                                    },
                                                    "QualifyingSpeed": {
                                                        "type": "number"
                                                    },
                                                    "RaceID": {
                                                        "type": "integer"
                                                    },
                                                    "Season": {
                                                        "type": "integer"
                                                    },
                                                    "StartPosition": {
                                                        "type": "number"
                                                    },
                                                    "StatID": {
                                                        "type": "integer"
                                                    },
                                                    "Updated": {
                                                        "type": "string"
                                                    },
                                                    "Wins": {
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Race": {
                                            "properties": {
                                                "Broadcast": {
                                                    "type": "string"
                                                },
                                                "Created": {
                                                    "type": "string"
                                                },
                                                "DateTime": {
                                                    "type": "string"
                                                },
                                                "Day": {
                                                    "type": "string"
                                                },
                                                "IsInProgress": {
                                                    "type": "boolean"
                                                },
                                                "IsOver": {
                                                    "type": "boolean"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "PoleWinnerID": {
                                                    "type": "integer"
                                                },
                                                "RaceID": {
                                                    "type": "integer"
                                                },
                                                "RescheduledDateTime": {
                                                    "type": "string"
                                                },
                                                "RescheduledDay": {
                                                    "type": "string"
                                                },
                                                "Season": {
                                                    "type": "integer"
                                                },
                                                "SeriesID": {
                                                    "type": "integer"
                                                },
                                                "SeriesName": {
                                                    "type": "string"
                                                },
                                                "Track": {
                                                    "type": "string"
                                                },
                                                "Updated": {
                                                    "type": "string"
                                                },
                                                "WinnerID": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Race Results"
            }
        },
        "/{format}/races/{season}": {
            "get": {
                "operationId": "RacesSchedule",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "Year of the season.\n<br>Examples: <code>2015</code>, <code>2016</code>.",
                        "in": "path",
                        "name": "season",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Broadcast": {
                                                "type": "string"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "IsInProgress": {
                                                "type": "boolean"
                                            },
                                            "IsOver": {
                                                "type": "boolean"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "PoleWinnerID": {
                                                "type": "integer"
                                            },
                                            "RaceID": {
                                                "type": "integer"
                                            },
                                            "RescheduledDateTime": {
                                                "type": "string"
                                            },
                                            "RescheduledDay": {
                                                "type": "string"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeriesID": {
                                                "type": "integer"
                                            },
                                            "SeriesName": {
                                                "type": "string"
                                            },
                                            "Track": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "WinnerID": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Races / Schedule"
            }
        },
        "/{format}/series": {
            "get": {
                "operationId": "Series",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Name": {
                                                "type": "string"
                                            },
                                            "SeriesID": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Series"
            }
        }
    },
    "components": {
        "schemas": {
            "Driver": {
                "properties": {
                    "BirthDate": {
                        "type": "string"
                    },
                    "BirthPlace": {
                        "type": "string"
                    },
                    "Chassis": {
                        "type": "string"
                    },
                    "Created": {
                        "type": "string"
                    },
                    "CrewChief": {
                        "type": "string"
                    },
                    "DriverID": {
                        "type": "integer"
                    },
                    "Engine": {
                        "type": "string"
                    },
                    "FirstName": {
                        "type": "string"
                    },
                    "Gender": {
                        "type": "string"
                    },
                    "Height": {
                        "type": "integer"
                    },
                    "LastName": {
                        "type": "string"
                    },
                    "Manufacturer": {
                        "type": "string"
                    },
                    "Number": {
                        "type": "integer"
                    },
                    "PhotoUrl": {
                        "type": "string"
                    },
                    "Sponsors": {
                        "type": "string"
                    },
                    "Team": {
                        "type": "string"
                    },
                    "Updated": {
                        "type": "string"
                    },
                    "Weight": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "DriverRace": {
                "properties": {
                    "Bonus": {
                        "type": "number"
                    },
                    "Created": {
                        "type": "string"
                    },
                    "DateTime": {
                        "type": "string"
                    },
                    "Day": {
                        "type": "string"
                    },
                    "DraftKingsSalary": {
                        "type": "integer"
                    },
                    "DriverID": {
                        "type": "integer"
                    },
                    "FantasyPoints": {
                        "type": "number"
                    },
                    "FantasyPointsDraftKings": {
                        "type": "number"
                    },
                    "FastestLaps": {
                        "type": "number"
                    },
                    "FinalPosition": {
                        "type": "number"
                    },
                    "Laps": {
                        "type": "number"
                    },
                    "LapsLed": {
                        "type": "number"
                    },
                    "Manufacturer": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Number": {
                        "type": "integer"
                    },
                    "Penalty": {
                        "type": "number"
                    },
                    "Points": {
                        "type": "number"
                    },
                    "PoleFinalPosition": {
                        "type": "number"
                    },
                    "Poles": {
                        "type": "number"
                    },
                    "PositionDifferential": {
                        "type": "number"
                    },
                    "QualifyingSpeed": {
                        "type": "number"
                    },
                    "RaceID": {
                        "type": "integer"
                    },
                    "Season": {
                        "type": "integer"
                    },
                    "StartPosition": {
                        "type": "number"
                    },
                    "StatID": {
                        "type": "integer"
                    },
                    "Updated": {
                        "type": "string"
                    },
                    "Wins": {
                        "type": "number"
                    }
                },
                "type": "object"
            },
            "DriverRaceProjection": {
                "properties": {
                    "Bonus": {
                        "type": "number"
                    },
                    "Created": {
                        "type": "string"
                    },
                    "DateTime": {
                        "type": "string"
                    },
                    "Day": {
                        "type": "string"
                    },
                    "DraftKingsSalary": {
                        "type": "integer"
                    },
                    "DriverID": {
                        "type": "integer"
                    },
                    "FantasyPoints": {
                        "type": "number"
                    },
                    "FantasyPointsDraftKings": {
                        "type": "number"
                    },
                    "FastestLaps": {
                        "type": "number"
                    },
                    "FinalPosition": {
                        "type": "number"
                    },
                    "Laps": {
                        "type": "number"
                    },
                    "LapsLed": {
                        "type": "number"
                    },
                    "Manufacturer": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Number": {
                        "type": "integer"
                    },
                    "Penalty": {
                        "type": "number"
                    },
                    "Points": {
                        "type": "number"
                    },
                    "PoleFinalPosition": {
                        "type": "number"
                    },
                    "Poles": {
                        "type": "number"
                    },
                    "PositionDifferential": {
                        "type": "number"
                    },
                    "QualifyingSpeed": {
                        "type": "number"
                    },
                    "RaceID": {
                        "type": "integer"
                    },
                    "Season": {
                        "type": "integer"
                    },
                    "StartPosition": {
                        "type": "number"
                    },
                    "StatID": {
                        "type": "integer"
                    },
                    "Updated": {
                        "type": "string"
                    },
                    "Wins": {
                        "type": "number"
                    }
                },
                "type": "object"
            },
            "Race": {
                "properties": {
                    "Broadcast": {
                        "type": "string"
                    },
                    "Created": {
                        "type": "string"
                    },
                    "DateTime": {
                        "type": "string"
                    },
                    "Day": {
                        "type": "string"
                    },
                    "IsInProgress": {
                        "type": "boolean"
                    },
                    "IsOver": {
                        "type": "boolean"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "PoleWinnerID": {
                        "type": "integer"
                    },
                    "RaceID": {
                        "type": "integer"
                    },
                    "RescheduledDateTime": {
                        "type": "string"
                    },
                    "RescheduledDay": {
                        "type": "string"
                    },
                    "Season": {
                        "type": "integer"
                    },
                    "SeriesID": {
                        "type": "integer"
                    },
                    "SeriesName": {
                        "type": "string"
                    },
                    "Track": {
                        "type": "string"
                    },
                    "Updated": {
                        "type": "string"
                    },
                    "WinnerID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "RaceResult": {
                "properties": {
                    "DriverRaces": {
                        "items": {
                            "properties": {
                                "Bonus": {
                                    "type": "number"
                                },
                                "Created": {
                                    "type": "string"
                                },
                                "DateTime": {
                                    "type": "string"
                                },
                                "Day": {
                                    "type": "string"
                                },
                                "DraftKingsSalary": {
                                    "type": "integer"
                                },
                                "DriverID": {
                                    "type": "integer"
                                },
                                "FantasyPoints": {
                                    "type": "number"
                                },
                                "FantasyPointsDraftKings": {
                                    "type": "number"
                                },
                                "FastestLaps": {
                                    "type": "number"
                                },
                                "FinalPosition": {
                                    "type": "number"
                                },
                                "Laps": {
                                    "type": "number"
                                },
                                "LapsLed": {
                                    "type": "number"
                                },
                                "Manufacturer": {
                                    "type": "string"
                                },
                                "Name": {
                                    "type": "string"
                                },
                                "Number": {
                                    "type": "integer"
                                },
                                "Penalty": {
                                    "type": "number"
                                },
                                "Points": {
                                    "type": "number"
                                },
                                "PoleFinalPosition": {
                                    "type": "number"
                                },
                                "Poles": {
                                    "type": "number"
                                },
                                "PositionDifferential": {
                                    "type": "number"
                                },
                                "QualifyingSpeed": {
                                    "type": "number"
                                },
                                "RaceID": {
                                    "type": "integer"
                                },
                                "Season": {
                                    "type": "integer"
                                },
                                "StartPosition": {
                                    "type": "number"
                                },
                                "StatID": {
                                    "type": "integer"
                                },
                                "Updated": {
                                    "type": "string"
                                },
                                "Wins": {
                                    "type": "number"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "Race": {
                        "properties": {
                            "Broadcast": {
                                "type": "string"
                            },
                            "Created": {
                                "type": "string"
                            },
                            "DateTime": {
                                "type": "string"
                            },
                            "Day": {
                                "type": "string"
                            },
                            "IsInProgress": {
                                "type": "boolean"
                            },
                            "IsOver": {
                                "type": "boolean"
                            },
                            "Name": {
                                "type": "string"
                            },
                            "PoleWinnerID": {
                                "type": "integer"
                            },
                            "RaceID": {
                                "type": "integer"
                            },
                            "RescheduledDateTime": {
                                "type": "string"
                            },
                            "RescheduledDay": {
                                "type": "string"
                            },
                            "Season": {
                                "type": "integer"
                            },
                            "SeriesID": {
                                "type": "integer"
                            },
                            "SeriesName": {
                                "type": "string"
                            },
                            "Track": {
                                "type": "string"
                            },
                            "Updated": {
                                "type": "string"
                            },
                            "WinnerID": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "Series": {
                "properties": {
                    "Name": {
                        "type": "string"
                    },
                    "SeriesID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "in": "header",
                "name": "Ocp-Apim-Subscription-Key",
                "type": "apiKey"
            },
            "apiKeyQuery": {
                "in": "query",
                "name": "subscription-key",
                "type": "apiKey"
            }
        }
    }
}